/*
FONTS IN USE - GOOGLE FONTS
font-family: 'Bungee Outline', sans-serif; - no font-weights
font-family: 'Bungee Inline', sans-serif; - no font-weights
font-family: 'Raleway', sans-serif; 
	font-weights: 300 800
*/

/* // HEADER STYLES // */
header {
	margin: 0 auto;
	text-align: center;
}

h1, .headLink {
	margin: 2px 0;
	font-family: "Bungee Outline", sans-serif;
	font-size: 75px;
	text-decoration: none;
	color: orange;
}

.headLink:hover {
	font-family: "Bungee Inline", sans-serif;
	text-decoration: none;
	color: orange;
}

h3 { /* game goal */
	margin: 2px 0 8px 0;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size: 18px;
}

/* // GAME STYLES // */
body {
    background: white;
   	margin: 0 auto;
	text-align: center;
}

#GameBoardCanvas {
	position: relative;
	z-index: -10;
    border: 40px solid gray;
    padding: 0;
	margin: 0 auto;
}

h2 { /* game winner */
	position: absolute;
	display: inline-block;
	z-index: 10;
	top: 300px;
	font-family: "Bungee Inline", sans-serif;
	font-size: 75px;
	color: orange;
}

/* // TRY AGAIN // */
form {
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#tryAgain, #play {
	padding: 5px 10px;
	margin: 20px 0;
	border: 2px solid orange;
	background-color: white;
	box-shadow: none;
	font-family: "Bungee Inline", sans-serif;
	font-size: 25px;
	color: orange;
	text-decoration: none;
}

#tryAgain, #play:hover {
	border: 2px solid orange;
	background-color: orange;
	color: white;
}

/* // INSTRUCTIONS // */
h4{ /* instructions */
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	text-transform: uppercase;
	color: gray; 
}

p {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size: 18px;
}

/* // FOOTER // */
footer {
	color: gray;
}

.footerInfo {
	margin: 0 auto;
	max-width: 400px;
	text-align: center;
}

.made {
	display: inline-block;
	float: left;
	padding: 50px 10px 15px 10px;
	margin-bottom: 25px;
	font-family: "Bungee Inline", sans-serif;
	font-size: 30px;
}

.logo {
	display: inline-block;
	float: right;
	clear: right;
	padding: 25px 10px 15px 10px;
	margin-bottom: 25px; 
	height: 60px;
}

.copyright {
	padding: 10px 0 20px 0;
	text-align: center;
	margin: 0 auto;
	clear: right;
	font-family: "Raleway",sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: gray;
}