/*
FONTS IN USE - GOOGLE FONTS
font-family: 'Bungee Outline', sans-serif; - no font-weights
font-family: 'Bungee Inline', sans-serif; - no font-weights
font-family: 'Raleway', sans-serif; 
	font-weights: 300 800
*/

/*
COLORS IN USE:
turquoise - p1 = #33cc99
teal - p2 = #006666
*/


/* // HEADER STYLES // */
header {
	margin: 0 auto;
	text-align: center;
}

h1, .headLink {
	margin: 10px 0 5px 0;
	font-family: "Bungee Outline", sans-serif;
	font-size: 75px;
	text-decoration: none;
	color: orange;
}

.headLink:hover {
	font-family: "Bungee Inline", sans-serif;
	text-decoration: none;
	color: orange;
}

h3 { /* game goal */
	margin: 2px 0 25px 0;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size: 18px;
}

/* // GAME STYLES // */
body {
    background: white;
   	margin: 0 auto;
	text-align: center;
}

#mazeImage {
	background: url("../images/maze-bkgrnd.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#gameBody {
	background: url("../images/maze-bkgrnd.png");
}

.monsters {
	margin: 0 auto;
	max-width: 40%
}

#p1Character {
/*	position: relative;
	display: inline-block; */
	float: left;
	height: 100px
}

#p2Character {
	position: relative;
	display: inline-block;
	float: right;
	height: 100px
/*	margin-right: 20%; */

}


.scores {
	display: inline;
	padding: 5px;
	margin: 5px;
}

#GameBoardCanvas {
	display: block;
	position: relative;
	z-index: -10;
    border: 40px solid gray;
    padding:; 0;
	margin: 0 auto;
	background-color: white;
}

h2 { /* game winner */
	position: absolute;
	display: inline-block;
	z-index: 10;
	top: 300px;
	left: 0;
	width: 100%;
	font-family: "Bungee Inline", sans-serif;
	font-size: 75px;
	color: orange;
}

/* // PLAY / TRY AGAIN / LEVEL 2 // */
form {
	display: inline-block;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#tryAgain, #play, #level2, #level3 {
	padding: 5px 10px;
	margin: 50px 20px 25px 20px;
	border: 2px solid orange;
	background-color: white;
	box-shadow: none;
	font-family: "Bungee Inline", sans-serif;
	font-size: 25px;
	color: orange;
	text-decoration: none;
}

#tryAgain:hover, #play:hover, #level2:hover, #level3:hover{
	border: 2px solid orange;
	background-color: orange;
	color: white;
}

/* // INSTRUCTIONS // */
h4{ /* instructions */
	margin: 10px 0;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	text-transform: uppercase;
	color: gray; 
}
#p1 {
	color: #33cc99;
	font-weight: 800;
}

#p2 {
	color: #006666;
	font-weight: 800;
}

p {
	margin: 15px 0;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size: 18px;
}
/* // FOOTER // */
footer {
	color: gray;
}

.footerInfo {
	margin: 0 auto;
	max-width: 400px;
	text-align: center;
}

.made {
	display: inline-block;
	float: left;
	padding: 50px 10px 15px 10px;
	margin-bottom: 25px;
	font-family: "Bungee Inline", sans-serif;
	font-size: 30px;
}

.logo {
	display: inline-block;
	float: right;
	clear: right;
	padding: 25px 10px 15px 10px;
	margin-bottom: 25px; 
	height: 60px;
}

.copyright {
	padding: 10px 0 20px 0;
	text-align: center;
	margin: 0 auto;
	clear: right;
	font-family: "Raleway",sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: gray;
}